.task-page {
  font-family: 'Poppins', sans-serif;
  padding: 10px;


.header-bg{
  background-color: rgb(197, 193, 193);
}

  .header-left {
    h1 {
      margin: 0;
      font-size: 1.6rem;
      font-weight: 600;
    }

    .total-tasks {
      font-size: 1rem;
      background: #fff;
      color: #4f46e5;
      padding: 4px 12px;
      border-radius: 4px;
      font-weight: 500;
    }
  }

  .header-right {
    .input-group {
      width: 180px;

      input.form-control {
        padding: 6px 10px;
        border-radius: 4px 0 0 4px;
      }

      button.btn {
        border-radius: 0 4px 4px 0;
        padding: 6px 10px;
      }
    }

    .btn {
      padding: 6px 12px;
      border-radius: 4px;
      font-size: 0.95rem;
    }

    .btn-warning {
      font-weight: 500;
    }
  }

  .left, .right {
    background: #fff;
    border-radius: 8px;
    box-shadow: 0 2px 6px rgba(0,0,0,0.1);
    padding: 18px;

    h3 {
      font-size: 1.2rem;
      margin-bottom: 12px;
    }
  }

  .donut, .status-chart {
    height: 280px;
    margin-bottom: 25px;
  }

  .right {
    overflow-x: auto;

    .tasks-table {
      min-width: 850px;
      border-collapse: collapse;

      th, td {
        border: 1px solid #ddd;
        padding: 10px;
        text-align: left;
        font-size: 0.95rem;
      }

      th {
        background: #f3f3f3;
        font-weight: 600;
      }

      .status {
        padding: 3px 8px;
        border-radius: 4px;
        text-transform: capitalize;
        font-size: 0.85rem;
        font-weight: 500;

        &.completed { background: #60a5fa; color: #000; }
        &.pending { background: #8b8a89; color: #000; }
        &.wip { background: #b6ed6ee2; color: #000; }
        &.rescheduled { background: rgb(238, 172, 51); color: #000; }
      }
    }
  }
}


.dropdown-menu {
  border-radius: 10px;
  min-width: 160px;
}

.dropdown-item {
  font-size: 14px;
}

.icon-color{
  color: red;
}