@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?d7fbuz');
  src:  url('fonts/icomoon.eot?d7fbuz#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?d7fbuz') format('truetype'),
    url('fonts/icomoon.woff?d7fbuz') format('woff'),
    url('fonts/icomoon.svg?d7fbuz#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-file-text2:before {
  content: "\e926";
}
.icon-bell:before {
  content: "\e951";
}
.icon-bubbles2:before {
  content: "\e96d";
}
.icon-user:before {
  content: "\e971";
}
.icon-user-tie:before {
  content: "\e976";
}
.icon-search:before {
  content: "\e986";
}
.icon-wrench:before {
  content: "\e991";
}
.icon-cog:before {
  content: "\e994";
}
.icon-stats-dots:before {
  content: "\e99b";
}
.icon-shield:before {
  content: "\e9b4";
}
.icon-clipboard:before {
  content: "\e9b8";
}
.icon-plus:before {
  content: "\ea0a";
}
.icon-move-up:before {
  content: "\ea46";
}
.icon-filter:before {
  content: "\ea5b";
}
