

//Main layout
:host {
display: grid;
grid-template-rows: 60px 1fr; 
height: 100vh;
width: 100%;

}

//header
.header {
grid-row: 1 / 2;
width: 100%;
background: #ffffff;
border-bottom: 1px solid #e6e6e6;


}

//Sidebar & main
.body {
grid-row: 2 / 3;
display: grid;
grid-template-columns: 80px 1fr; 
height: 100%;
}


.sidebar {
background: #ffffff;
border-right: 1px solid #e6e6e6;
padding: 20px 10px;
display: flex;
flex-direction: column;
gap: 25px;
align-items: center;
}


.main {
background: #eaeaed;
// padding: 20px 25px;
overflow-y: auto;

// display: grid;
// grid-template-columns: 350px 1fr; /* Left cards | Right big table */
// grid-template-rows: auto;
gap: 20px;
}




@media (max-width: 1200px) {
.main {
grid-template-columns: 1fr;
}
}